@import "../../constants";

:host {
  .mat-toolbar {
    background: $primary;
    color: $font-color;
    border-bottom: 5px solid #8e4de4;


    .mat-toolbar-row {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      a {
        margin: 10px 25px;
        cursor: pointer;
        font-size: 20px;
        transition: linear .3s;

        &:hover {
          color: black;
          background-color: #ffd740;
        }
      }

    }

    button {
      margin: 10px 25px;
      justify-content: space-around;
    }

  }
}
