@import "../../constants";

:host {
  .mat-toolbar {
    background: $primary;
    color: $font-color;
    border-bottom: 5px solid #8e4de4;


    .mat-toolbar-row {
      width: 100%;
      height: 59px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;

      a {
        margin: 10px;
        cursor: pointer;
        font-size: 20px;
        transition: linear .3s;

        &:hover {
          color: black;
          background-color: #ffd740;
        }
      }

    }

    button {
      margin: 10px 15px;
      justify-content: space-around;

      @media screen and (max-width: 768px) {
        margin: 5px;

        .username-text {
          max-width: 100px;
        }
      }
    }
  }

  .user-block {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .username-text {
      max-width: 115px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;
    }
  }
}
