<mat-toolbar>
  <mat-toolbar-row>
    <span routerLink="/">RsLangApp</span>
    <span routerLink="/promo">PROMO</span>
    <span routerLink="/about-us">ABOUT US</span>
    <div *ngIf="!user" class="auth">
      <span routerLink="/login">login</span><br>
      <span routerLink="/register">register</span>
    </div>
    <nav *ngIf="user">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
       <mat-menu #menu="matMenu">
        <span>{{ user.name }}</span><br>
        <span>{{ user.email }}</span><br>
        <button routerLink="/setting" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
