@import "../../constants";

:host {
  width: 100%;

  .mat-toolbar {
    background: $primary;
    color: $font-color;

    .mat-toolbar-row {
      display: flex;
      justify-content: space-between;
    }
  }

  button {
    margin: 0 10px;
  }
}


