@import "../../constants";

.label-radio.wait {
  & .mat-button {
    cursor: wait;
  }
}

.radio-input {
  display: none;
}

.mat-button {
  color: $text-color-light;
  font-weight: 900;
  width: 30px;
  height: 30px;
  font-size: 16px;

  & .text {
    position: relative;
    top: -5px;
  }
}
