@import "./blocks/field-for-answer.scss";
@import "./blocks/word.scss";
@import "./blocks/field-for-words.scss";
@import "./blocks/dropzone.scss";

body {
  margin: 0;
}

.block {
  width: 50px;
}

.text {
  height: 80px;
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  background-color: yellow;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  line-height: 80px;
  white-space: nowrap;
}

.text[hidden] {
  display: none;
}
