<body>
    <div [style.left]="startPageIsHidden ? '-100%' : '0%'" class="start-page__wrapper">
        <span class="start-page__name">English Puzzle</span>
        <span class="start-page__description">Соберите предложение из представленных слов</span>
        <div class="start-page" (click)="removeStartPage()">start</div>
    </div>
    <div [hidden]="answers !== undefined && !(answers.length > 9)" class="result">
        <h1 [hidden]="rightWords.length === 0">Right: </h1>
        <div class="result__word" *ngFor="let word of rightWords">{{word}}
        <p class="result__voice" (click)="voiceWord($event)"></p>
        </div>
        <h1 [hidden]="wrongWords.length === 0">Wrong: </h1>
        <div class="result__word" *ngFor="let word of wrongWords">{{word}}
        <p class="result__voice" (click)="voiceWord($event)"></p>
        </div>
        <button class="okay" (click)="createNextLevel()">Okay</button>
    </div>
    <div class="menu">
        <div class="menu__left">
            <select name="" id="" class="menu__select menu__level" (change)="createNewLevel($event)">
                <option #level value="{{level}}" *ngFor="let level of levels">{{level}}</option>
            </select>
            <select name="" id="" class="menu__select menu__page" (change)="createNewPage($event)">
                <option #page value="{{page}}" *ngFor="let page of pages">{{page}}</option>
            </select>
        </div>
        <div class="menu__right">
            <button (click)="voiceExample()" class="menu__voice">voice</button>
            <button (click)="getCurrentTextTranslate()" class="menu__translate">translate</button>
            <button [hidden]="true" class="menu__background">background</button>
        </div>
    </div>
    <p #placeForTranslate class="field-for-translate">{{textTranslate}}</p>
    <div class="field-for-answer" [class.field-for-answer--small]="answers && answers.length > 9">
        <div class="text" [hidden]='!answers[0]'>{{answers[0]}}</div>
        <div class="text" [hidden]='!answers[1]'>{{answers[1]}}</div>
        <div class="text" [hidden]='!answers[2]'>{{answers[2]}}</div>
        <div class="text" [hidden]='!answers[3]'>{{answers[3]}}</div>
        <div class="text" [hidden]='!answers[4]'>{{answers[4]}}</div>
        <div class="text" [hidden]='!answers[5]'>{{answers[5]}}</div>
        <div class="text" [hidden]='!answers[6]'>{{answers[6]}}</div>
        <div class="text" [hidden]='!answers[7]'>{{answers[7]}}</div>
        <div class="text" [hidden]='!answers[8]'>{{answers[8]}}</div>
        <div style="border-bottom: 2px solid #673AB7;" class="text" [hidden]='!answers[9]'>{{answers[9]}}</div>
        <div [hidden]="answers && answers.length > 9" cdkDropListOrientation="horizontal" cdkDropList #mytodo
            #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList]" [cdkDropListData]="currentAnswer"
            (cdkDropListDropped)="drop($event)" class="field-for-words dropzone">
            <button (click)="wordToBottomBlock(text)" class="word" [ngStyle]="setStyleOfTextExample(text)"
                *ngFor="let text of currentAnswer" cdkDrag>{{text}}</button>
        </div>
    </div>
    <div [hidden]="answers && answers.length > 9" cdkDropListOrientation="horizontal" cdkDropList
        #doneList="cdkDropList" [cdkDropListConnectedTo]="[todoList]" [cdkDropListData]="currentSplittedTextExample"
        (cdkDropListDropped)="drop($event)" class="field-for-words dropzone field-for-words--bottom">
        <button (click)="wordToUpperBlock(text)" class="word" [ngStyle]="setStyleOfTextExample(text)"
            *ngFor="let text of currentSplittedTextExample" cdkDrag>{{text}}</button>
    </div>
    <div class="check__wrapper">
        <button [hidden]="!hiddenContinue" class="check" (click)="abort()">i don't know</button>
        <button [hidden]="currentSplittedTextExample && currentSplittedTextExample.length !== 0" class="check"
            (click)="check($event)">check</button>
        <button [hidden]="hiddenContinue" class="check" (click)="createNewLine()">continue</button>
    </div>
</body>