<body>
  <div class="menu">
      <div class="menu__left">
          <select name="" id="" class="menu__level">
              <option value="" *ngFor="let level of levels">{{level}}</option>
          </select>
          <select name="" id="" class="menu__page">
              <option value="" *ngFor="let page of pages">{{page}}</option>
          </select>
      </div>
      <div class="menu__right">
          <button class="menu__voice">voice</button>
          <button class="menu__translate">translate</button>
          <button class="menu__melody">melody</button>
          <button class="menu__background">background</button>
      </div>
  </div>
  <p class="field-for-translate"></p>
  <div class="field-for-answer">
      <div class="text" [hidden]='!answers[0]'>{{answers[0]}}</div>
      <div class="text" [hidden]='!answers[1]'>{{answers[1]}}</div>
      <div class="text" [hidden]='!answers[2]'>{{answers[2]}}</div>
      <div class="text" [hidden]='!answers[3]'>{{answers[3]}}</div>
      <div class="text" [hidden]='!answers[4]'>{{answers[4]}}</div>
      <div class="text" [hidden]='!answers[5]'>{{answers[5]}}</div>
      <div class="text" [hidden]='!answers[6]'>{{answers[6]}}</div>
      <div class="text" [hidden]='!answers[7]'>{{answers[7]}}</div>
      <div class="text" [hidden]='!answers[8]'>{{answers[8]}}</div>
      <div class="text" [hidden]='!answers[9]'>{{answers[9]}}</div>
      <div [hidden]="answers.length > 9" 
          cdkDropListOrientation="horizontal" 
          cdkDropList
          #mytodo
          #todoList="cdkDropList"
          [cdkDropListConnectedTo]="[doneList]"
          [cdkDropListData]="currentAnswer"
          (cdkDropListDropped)="drop($event)"
          class="field-for-words dropzone">
          <button (click)="toBottom(text)" class="word" [style.width]='(text.length / numberOfLetters * 100) + "%"' *ngFor="let text of currentAnswer" cdkDrag>{{text}}</button>
      </div>
  </div>
  <div cdkDropListOrientation="horizontal" 
       cdkDropList
       #doneList="cdkDropList"
       [cdkDropListConnectedTo]="[todoList]"
       [cdkDropListData]="currentSplittedTextExample"
       (cdkDropListDropped)="drop($event)"
       class="field-for-words dropzone">
      <button (click)="toUp(text)" class="word" [style.width]='(text.length / numberOfLetters * 100) + "%"' *ngFor="let text of currentSplittedTextExample" cdkDrag>{{text}}</button>
  </div>
  <button class="check" (click)="newLine()">check</button>
</body>
