<div class="background"></div>
<div class="main">
  <div class="column">
    <app-card-game [bgImage]="games.speakIt.background" [game]="games.speakIt"></app-card-game>
    <app-card-game [bgImage]="games.puzzle.background" [game]="games.puzzle"></app-card-game>
    <app-statistic-card></app-statistic-card>
    <app-card-game [bgImage]="games.savannah.background" [game]="games.savannah"></app-card-game>
    <app-card-game [bgImage]="games.audioCall.background" [game]="games.audioCall"></app-card-game>
  </div>
  <div class="column">
    <app-dictionaries></app-dictionaries>
    <app-card-game [bgImage]="games.sprint.background" [game]="games.sprint"></app-card-game>
    <app-card-game [bgImage]="games.ownGame.background" [game]="games.ownGame"></app-card-game>
    <app-promo></app-promo>
  </div>
</div>
