$background-loader: #00000061;
$background-gameTimeOut: #673ab761;
$button-gameTimeOut: #673ab7;
$button-gameTimeOut-hover: #ffd740;
$text-color: #fff;
$background-card: #ffffff87;
$card-border-color: #a7bcf1;
$background-scoreOfAnswer: #0e860ebf;

.sprint-wrap{
  width: 100%;
  height: 90vh;
  display:flex;
  background: url('/assets/images/sprint/bg.jpg');
  background-size: cover ;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loader{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-loader;
  }

  .gameTimeOut{
    background: $background-gameTimeOut;
    color: $text-color;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 26px 43px 112px 16px rgba(0,0,0,0.75);

    p {
      margin: 20px
    }

    button {
      margin: 20px;
      background: $button-gameTimeOut;
      font-size: 30px;
      transition: linear .3s;
      padding: 10px;
      border-radius: 10px;

      &:hover {
        color: black;
        background: $button-gameTimeOut-hover;
        transform: rotateX(360deg);
      }
    }
  }

  .counters {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 20px;

    .total-score {
      color: $text-color;
      font-size: 24px;
    }

    .timer {
      color: $text-color;
      font-size: 24px;
    }
  }


  .card {
    width: 40%;
    background: $background-card;
    border: 2px solid $card-border-color;
    border-radius: 5px;
    text-align: center;


    .snackBar {
      position: absolute;
      bottom: 5px;
      right: 5px;
      transition: linear .3s;
      font-weight: bold;

      &:hover {
        transform: scale(1.2);
      }
    }

    .audio {
      color:$text-color;
      transition: linear .3s;


      &:hover{
        transform: scale(1.2);
      }
    }
  }

  .scoreOfAnswer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background: $background-scoreOfAnswer;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    align-items: center;

    p {
      margin: 0px;
    }
  }

  .adButtons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    .buttons {
      margin: 0 10px;
    }
  }

  @media (max-width: 500px) {
    .counters {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 15px;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    .card{
      width: 80%;
    }

    .gameTimeOut {
      width: 80%;
      line-height: 35px;
    }
  }
}
