.check {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  height: 35px;
  width: 100px;
  color: black;
  border: 3px solid $primary;
  background-color: $background;
  border-radius: 8px;
}

.check__wrapper {
  display: flex;
  flex-direction: row;
}

@mixin check_1035 {
  .check {
    border: 2px solid $primary;
  }
}

@mixin check_705 {
  .check {
    border: 1px solid $primary;
  }
}