.field-for-words {
  width: 1030px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.field-for-words[hidden] {
  display: none;
}

.field-for-words--bottom {
  margin-top: 15px;
  border-bottom: 0;
}
