.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 314px;
  height: 400px;
  border: 3px solid $primary;
  background-color: $background;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.result__container {
  overflow-y: auto;
  margin-top: 5px;
}

.result h1 {
  margin-top: 25px;
}

.result[hidden] {
  display: none;
}

.result__voice{
  width: 25px;
  min-width: 25px;
  height: 25px;
  background-image: url("../../../../../../../assets/images/english-puzzle/sound.svg");
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.result__word {
  display: flex;
  width: 282px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}