.text {
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  background-color: $primary;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  line-height: 50px;
  white-space: nowrap;
  color: $font-color;
  font-weight: bold;
  border-bottom: 2px solid $additional-border;
  border-radius: 4px;
  box-sizing: border-box;
}



.text:last-child {
  border-bottom: 2px solid $primary;
}

.text[hidden] {
  display: none;
}

@mixin text_1035 {
  .text {
    height: 35px;
    line-height: 35px;
  }
}

@mixin text_705 {
  .text {
    height: 7vw;
    line-height: 8vw;
    font-size: 2vw;
    border-bottom: 1px solid $additional-border;
  }
}