@import "../../../../../../constants.scss";

.savannah-game-wrapper {
  text-align: center;
}

.start-screen {
  background-repeat: no-repeat;
  background-size: 100%;
  color: $primary;

  .start-screen-image {
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
  }

  h1 {
    padding-top: 10px;
    font-size: 2em;
  }

  .start-screen-text {
    margin-top: 10vh;
    font-size: 1.5em;
  }

  .start-button {
    position: absolute;
    top: 420px;
    left: 45vw;
    border-radius: 6px;
    height: 40px;
    background-color: $primary;
    color: $font-color;
  }
}

.select-level {
  width: 100px;
  height: 35px;
  margin-right: 8px;
  border-color: $primary;
  color: $primary;
  border-radius: 8px;
  border-width: 3px;
  text-align: center;
  cursor: pointer;
}


.hidden {
  display: none;
}

.sound-toggler-container {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;

  .sound-toggler-button {
    height: 50px;
  }
}

.crossed {
  background:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      $shadow 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      $shadow 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%);
}

.game-container {
  margin-top: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: $primary;

  .main-screen-image {
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}

.lives-container {
  text-align: right;
  margin-right: 10vw;
  margin-top: 10vh;

  .lives {
    height: 20px;
    width: 20px;
  }
}

.active-card-container {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;

  .active-card {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    // background-color: $shadow;
    // height: 25px;
    // border-radius: 5px;
  }
}

.native-words-container {
  display: flex;
  justify-content: space-around;
  padding-top: 40vh;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 25vw;
    padding-bottom: 50px;
    font-size: 1.5em;
  }
}

.native-word-card {
  font-size: 1.5em;
  font-weight: bold;
  // width: 100px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    // padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.5em;
  }
}

.native-word-card:hover {
  background-color: $shadow;
  height: 25px;
  border-radius: 5px;
}

.activeCardFall {
  animation: active-card-fall 5s ease infinite;

  @keyframes active-card-fall {
    0% {
      top: 0;
    }

    100% {
      top: 350px;
    }
  }
}

.bullet {
  position: absolute;
  left: 40%;
  width: 6px;
  height: 20px;
}

.bulletActive {
  animation: bullet 1s linear;
  background-color: $primary;
  border-radius: 3px;

  @keyframes bullet {
    0% {
      top: 0;
    }

    100% {
      top: 300px;
    }
  }
}

.animationStop {
  animation-name: none;
}

.diamand-container {
  position: relative;
  top: 30px;
  left: 0%;

  @media screen and (max-width: 600px) {
    top: 0;
  }

  .diamand-image {
    height: 100px;
  }
}

.game-additional-text {
  margin-top: 10px;
}

.final-screen {
  // position: absolute;
  // top: 90px;
  // left: 40vw;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: $card-background-color;
  border-radius: 20px;
  width: $card-size;
  max-height: 240px;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    overflow: scroll;
    left: 30vw;
  }

  @media screen and (max-width: 400px) {
    left: 15vw;
  }
}
