@import "../../constants";

:host {
  width: 100%;
  footer {
    display: flex;
    height: 4vw;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background: $primary;
    color: $font-color;
    font-size: 15px;
    span {
      margin: 0 20px;
    }
  }
}
