<form name="reg" class="form reg-form" [formGroup]="formRegister" (submit)="register()">
  <div class="wrap-user-name">
    <label for="username-reg" class="label">
      <span class="span-login">Name: </span>
      <input
        formControlName="userName"
        type="text"
        name="username"
        id="username-reg"
        placeholder="name"
        class="input"
      />
    </label>
  </div>
  <div class="wrap-login">
    <label for="login-reg" class="label">
      <span class="span-login">Login(e-mail): </span>
      <input
        formControlName="email"
        type="text"
        name="login"
        id="login-reg"
        placeholder="login"
        class="input"
      />
    </label>
    <small
      *ngIf="formRegister.get('email')?.errors?.required
          && formRegister.get('email')?.touched"
    >Field can not be empty</small>
    <small
      *ngIf="formRegister.get('email')?.errors?.pattern
          && formRegister.get('email')?.touched"
    >E-mail must be format mymail@mydomain.com</small>
  </div>
  <div class="wrap-password">
    <label for="password-reg" class="label">
      <span class="span-password">Password: </span>
      <input
        formControlName="password"
        type="password"
        name="password"
        id="password-reg"
        placeholder="password"
        class="input"
      />
    </label>
    <div *ngIf="false" class="error">
      <span class="span-error">Connection error</span>
    </div>
    <small
      *ngIf="formRegister.get('password')?.errors?.required
          && formRegister.get('password')?.touched"
    >Field can not be empty</small>
    <small
      *ngIf="formRegister.get('password')?.errors?.pattern
          && formRegister.get('password')?.touched"
    >Password must be minimum 8 characters and  contain one uppercase, one lowercase letter, one number digit and one special character {{symbols}}</small>
  </div>
  <div class="buttons">
    <button class="login" type="submit" [disabled]="formRegister.invalid || formRegister.disabled">Registration</button>
  </div>
</form>
