.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 2px solid rgb(54, 187, 222);
  padding: 15px;
  margin: 50px auto;

  & .input {
    outline: none;

    &.ng-touched.ng-invalid {
      border: 2px solid orangered;
    }
  }

  & .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  & .register {
    margin-right: 10px;
  }
}

.switch-form {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -1px;

  & .radio {
    display: none;

    &:checked + .radio-span {
      background-color: rgb(234, 117, 49);
      box-shadow: 0px -1px 5px 2px rgb(200, 200, 200);
    }
  }

  & .radio-span {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    border-radius: 7px 7px 0 0;
    padding: 7px 14px;
    background-color: rgb(54, 187, 222);
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.wrap-login {
  height: 50px;
  margin-bottom: 10px;
}

.wrap-password {
  height: 100px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  & .span-error {
    color: rgb(245, 245, 245);
    padding: 7px 14px;
    border-radius: 5px;
    background-color: rgb(234, 117, 49);
  }
}
