<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="!isWordHidden">{{word}}</mat-card-title>
    <mat-card-subtitle *ngIf="isShowTranscription">{{transcription}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="isWordTranslationHidden">{{wordTranslate}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="isShowAssociation"
    class="mat-card-image"
    mat-card-image
    src="https://raw.githubusercontent.com/irinainina/rslang-data/master/{{image}}"
    alt="картинка-ассоциация">
  <mat-card-content>
    <p class="explanation" *ngIf="isShowExplanation" [innerHTML]="hiddenTextMeaning"></p>
    <p class="explanation explanation__translate" *ngIf="isExplanationHidden">
      {{textMeaningTranslate}}
    </p>

    <p class="exampleText" *ngIf="isShowExampleText">
      {{hiddenTextExample}}
    </p>
    <p class="exampleText exampleText__translate" *ngIf="isExampleTextHidden">
      {{textExampleTranslate}}
    </p>
  </mat-card-content>
  <!--   ширина поля ввода соответствует длине изучаемого слова-->
  <mat-card-subtitle>Введите слово ниже</mat-card-subtitle>
  <form [formGroup]="wordForm" (submit)="playWord()">
    <div class="form">
      <div class="form-group">
        <mat-form-field class="example-full-width" [ngStyle]="{'width': word.length * 10 + 'px'}">
<!--          <mat-label>Введите слово</mat-label>-->
          <label>
            <input matInput #inputWord
              [autofocus]="true"
              name="word"
              value="word"
              formControlName="word"
              class="form-control"/>
          </label>
          <mat-error *ngIf="wordForm.get('word').invalid"></mat-error>
        </mat-form-field>
      </div>
      <div class="form-group enter-button">
        <button type="submit" mat-flat-button color="primary" class="btn btn-default">
          Ввод
        </button>
      </div>
    </div>
  </form>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="delete.emit(id)">Удалить</button>
    <button mat-flat-button color="accent" (click)="hard.emit(id)">Сложные</button>
    <!--    или  enter -->
    <button mat-flat-button color="primary" (click)="next.emit()">Дальше</button>
    <button mat-flat-button color="primary" (click)="showAnswer()">Показать ответ</button>
  </mat-card-actions>
</mat-card>
