@import "../../../../constants.scss";

.form-wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  background-color: #8d7da27a;
  min-height: calc(100vh - 129px);

  form {
    margin: 100px 0;
    padding: 20px;
    background-color: white;
    border: 2px solid $primary;
    border-radius: 10px;
    height: 150px;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  & .span-error {
    color: rgb(245, 245, 245);
    padding: 7px 14px;
    border-radius: 5px;
    background-color: rgb(234, 117, 49);
  }
}
