<div class="wrap-game">

  <div id="words-list" class="words-list">
    <div class="card-img" id="card-img"></div>
    <div class="example-conversation record">
      <div class="output-word">
        <input type="text" id="text-translate" readonly>
        <span class="output-word__span" id="heard-as"></span>
      </div>
      <span id="text-example" class="text-example"></span>
      <span id="text-meaning" class="text-meaning"></span>
    </div>
    <div class="level-of-difficulty" id="level-of-difficulty">
      <label class="label-radio"><input type="radio" name="dif" class="difficult radio-input" value="0" checked>
        <span class="text-radio">A</span>
      </label>
      <label class="label-radio"><input type="radio" name="dif" class="difficult radio-input" value="1">
        <span class="text-radio">B</span>
      </label>
      <label class="label-radio"><input type="radio" name="dif" class="difficult radio-input" value="2">
        <span class="text-radio">C</span>
      </label>
      <label class="label-radio"><input type="radio" name="dif" class="difficult radio-input" value="3">
        <span class="text-radio">D</span>
      </label>
      <label class="label-radio"><input type="radio" name="dif" class="difficult radio-input" value="4">
        <span class="text-radio">E</span>
      </label>
      <label class="label-radio"><input  type="radio" name="dif" class="difficult radio-input" value="5">
        <span class="text-radio">F</span>
      </label>
    </div>
    <div class="word-original" id="word-original">
      <app-word-card
        *ngFor="let word of words; index as i"
        [word]="word"
      ></app-word-card>
    </div>
    <div class="control-buttons" id="control-buttons">
      <input type="button" class="control-buttons__button" id="restart" value="new game" name="restart">
      <input type="button" class="control-buttons__button start-speak" id="speech" value="start speak" name="speak">
      <input type="button" class="control-buttons__button" id="results" value="show results" name="show">
      <input type="button" class="control-buttons__button" id="games" value="games stats" name="games">
    </div>
  </div>

  <div *ngIf="false" class="start-page" id="start-page">
    <button class="start-game" id="start-game">start game</button>
  </div>

  <div class="start-page close results-page" id="results-page">
    <div class="show-results" id="show-results">
      <div class="dont-know">
        <div class="wrap-know-count">
          <span>Don't know yet: <span id="dont-know-count">0</span></span>
        </div>
        <div class="words-container" id="dont-know"></div>
      </div>
      <div class="know" id="know">
        <div class="wrap-know-count">
          <span>Now i know: <span id="i-know-count">0</span></span>
        </div>
        <div class="words-container" id="i-know"></div>
      </div>
      <div class="result-buttons">
        <button id="result-new-game">new game</button>
        <button id="result-close">close</button>
      </div>
    </div>
  </div>

  <div class="start-page close games" id="games-stats">
    <div class="show-results stats" id="show-stats">
      <div class="stats-container" id="stats-container"></div>
      <button id="stats-close">close</button>
    </div>
  </div>

  <div class="start-page close win-page" id="win-page">
    <div class="show-congratulation">
      <span>Congratulation!</span>
      <button id="win-close">new game</button>
    </div>
  </div>
</div>
