<div class="wrap-game">
  <div id="words-list" [class.on]="!isNotPlay" class="words-list">
    <div class="card-img" [appCardImg]="cardImg"></div>
    <div class="example-conversation record">
      <div class="output-word">
        <input type="text" [value]="currentWord?.word" readonly>
        <span class="output-word__span" id="heard-as"></span>
      </div>
      <span
        [ngClass]="{
          active: currentWord
        }"
        class="text-example"
        [innerHTML]="currentWord?.textExample"
      ></span>
      <span
        [ngClass]="{
          'active': currentWord
        }"
        class="text-meaning"
        [innerHTML]="currentWord?.textMeaning"
      ></span>
    </div>
    <div class="level-of-difficulty">
      <app-check-level-radio-button
        *ngFor="let letter of levels; index as i"
        [letter]="letter"
        [idx]="i"
      ></app-check-level-radio-button>
    </div>
    <div class="word-original" id="word-original">
      <app-word-card
        *ngFor="let word of words; index as i"
        [word]="word"
        (currentWord)="setWord($event)"
        (setIsNotPlay)="setIsNotPlay($event)"
        [isNotPlay]="isNotPlay"
      ></app-word-card>
    </div>
    <div class="control-buttons">
      <button class="control-buttons___item" mat-raised-button color="primary">new game</button>
      <button class="control-buttons___item" mat-raised-button color="primary">start speak</button>
      <button class="control-buttons___item" mat-raised-button color="primary">show results</button>
      <button class="control-buttons___item" mat-raised-button color="primary">games stats</button>
    </div>
  </div>

  <div *ngIf="false" class="start-page" id="start-page">
    <button class="start-game" id="start-game">start game</button>
  </div>

  <div class="start-page close results-page" id="results-page">
    <div class="show-results" id="show-results">
      <div class="dont-know">
        <div class="wrap-know-count">
          <span>Don't know yet: <span id="dont-know-count">0</span></span>
        </div>
        <div class="words-container" id="dont-know"></div>
      </div>
      <div class="know" id="know">
        <div class="wrap-know-count">
          <span>Now i know: <span id="i-know-count">0</span></span>
        </div>
        <div class="words-container" id="i-know"></div>
      </div>
      <div class="result-buttons">
        <button id="result-new-game">new game</button>
        <button id="result-close">close</button>
      </div>
    </div>
  </div>

  <div class="start-page close games" id="games-stats">
    <div class="show-results stats" id="show-stats">
      <div class="stats-container" id="stats-container"></div>
      <button id="stats-close">close</button>
    </div>
  </div>

  <div class="start-page close win-page" id="win-page">
    <div class="show-congratulation">
      <span>Congratulation!</span>
      <button id="win-close">new game</button>
    </div>
  </div>
</div>
