@import "../../../../constants";

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: $card-size * 2 + $card-margins * 2;
  height: $card-size * 2 + $card-margins * 2;
  border-radius: 5px;
  box-shadow: 0 5px 7px 2px $shadow;
  align-items: center;
  background: $card-background-color;

  @include size-mobile;
}

.dictionaries-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 65px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 35px;
  }
}

.learn-btn {
  width: 75%;
  height: 10%;
  margin-bottom: 65px;
  background: $accent;

  @media screen and (max-width: 500px) {
    margin-bottom: 25px;
  }
}

.title {
  @include title;
  text-align: center;
  width: 100%;
  left: 0 !important;
  font-size: 24px;
  color: #8e4de4;
  text-transform: uppercase;
}

.hard,
.deleted,
.studied,
.learned {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;

  mat-icon {
    height: auto;
    width: auto;
    font-size: 80px;
  }
}

.studied-icon {
  color: $accent;
}

.hard-icon {
  color: $primary;
}

.learned-icon {
  color: $example-text;
}

.deleted-icon {
  color: $deleted;
}
