<p class="title">Dictionaries</p>
<button mat-raised-button class="learn-btn">Learn!</button>
<div class="dictionaries-list">
  <div class="studied">
    <mat-icon aria-hidden="false" aria-label="Example heart icon">menu_book</mat-icon>
    <span class="dictionary-type">Studied</span>
  </div>
  <div class="hard">
    <mat-icon aria-hidden="false" aria-label="Example heart icon">priority_high</mat-icon>
    <span class="dictionary-type">Hard</span>
  </div>
  <div class="deleted">
    <mat-icon aria-hidden="false" aria-label="Example heart icon">delete</mat-icon>
    <span class="dictionary-type">Deleted</span>
  </div>
</div>
