<section class="about-us">
  <mat-card-title> О команде</mat-card-title>
  <mat-card-content class="content">
    <div class="item"><span class="name"> Hanna Stoma: </span> <span
      class="about">Тим-лид команды. Организационные вопросы. Режим изучения. Страница "О нас", словари, настройки пользователя</span></div>
    <div class="item"><span class="name"> Костя: </span> <span class="about">мини-игра English Puzzle</span></div>
    <div class="item"><span class="name"> Gruskry: </span> <span class="about">header,footer - стили, material.
Авторизация. Мини-игра Sprint</span></div>
    <div class="item"><span class="name"> Anatoliy: </span> <span class="about">  audiocal/savannah</span></div>
    <div class="item"><span class="name"> Valentyn(NexGenUA): </span> <span class="about">speakit/statistics </span></div>
    <div class="item"><span class="name"> Skloner (Sultan): </span> <span class="about">дизайн</span></div>

  </mat-card-content>
</section>
