@import "../../../../constants";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 7px 2px #0000004a;
  border-radius: 7px;
  background: $card-background-color;
  width: $card-size * 2 + $card-margins * 2;
  height: $card-size;

  .promo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
    outline: none;
  }

  .title {
    @include title;
  }

  .video,
  .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 15px 10px 15px;

    mat-icon {
      height: auto;
      width: auto;
      color: $primary;
      font-size: 120px;
      margin-bottom: 10px;
    }
  }

  @include size-mobile;
}
