$img-path : "/assets/images/speakit";
$accent: rgb(255, 215, 64);
$primary: rgb(103, 58, 183);
$warn: rgb(244, 67, 54);
$text-color: rgb(250, 250, 250);
$background-color-card: rgb(250, 250, 250);
$background-color-is-playing: rgb(219, 241, 255);
$box-shadow-card: 0 0 5px 2px rgb(210, 210, 210);
$box-shadow-card-hover: 0 5px 15px rgba(0,0,0,0.3);
$background-color-card-learned: rgb(125, 235, 185)
