@import "./animation";

@mixin pop-up-page($animate: false) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: url(#{$img-path}/start-page.svg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  transition: all .3s ease;

  @if $animate {
    animation: show-layout .3s;
  }

  &.close {
    transform: scale(0) translateY(-100vh);
  }
}

@mixin show-results($max-width, $width) {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  max-width: $max-width;
  width: $width;
}
