$accent: #ffd740;
$primary: #673ab7;
$shadow: #0000004a;
$font-color: #ffffff;
$card-background-color: #ffffff;

$card-size: 280px;
$card-margins: 16px;
$card-margins-mobile: 5px;
$columns: 2;

$mobile-size: 90vw;

@mixin title {
  margin-top: 15px;
  left: 40px;
  align-self: flex-start;
  position: relative;
  font-size: 18px;
}

@mixin size-mobile($height: false) {

  @media screen and (max-width: 645px) {
    width: $mobile-size;

    @if ($height) {
      height: $mobile-size;
    }
  }
}
