@import "../../constants";

@function column-width() {
  @return ($card-size * $columns)+ ($card-margins * 2 * $columns);
}

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  display: flex;
  align-items: baseline;
  transform: translateY(-10vw);
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: column-width();

  * {
    margin: $card-margins;
  }
}

.background {
  width: 100%;
  background-image: url("src/assets/images/jamie-davies-7iNteV_zTRU-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
}
