<div class="audiocall-game-wrapper">
  <div class="start-screen">
    <img class="start-screen-image" *ngIf="!isHiddenStartScreen"
      src="../../../../../../../assets/images/audiocall/start-page.jpg" alt="">
    <div class="start-description" [ngClass]="{hidden:isHiddenDescription}">
      <h1>AUDIOCALL</h1>
      <div class="level-menu">
        <select class="select-level" (change)="newLevel($event)">
          <option #level value="{{level}}" *ngFor="let level of levels">LEVEL: {{level}}</option>
        </select>
        <select class="select-level" (change)="newPage($event)">
          <option #page value="{{page}}" *ngFor="let page of pages">PAGE: {{page}}</option>
        </select>
      </div>
      <p class="start-screen-text">You shoild choose right word after pronunciation.</p>
    </div>
    <div class="loader-container" [ngClass]="{hidden:isHiddenLoader}">
      <div class="loader"></div>
    </div>
    <button (click)="startGame()" class="start-button" [ngClass]="{hidden:isHiddenButton}">Start game </button>
  </div>

  <div class="game-container" *ngIf="audioCallCards && activeCard">
    <img class="main-screen-image" src="../../../../../../../assets/images/audiocall/main-background-image.jpg" alt="">

    <div [ngClass]="{slideLeft:isGameContainerAnimation}">
      <div class="active-card-container">
        <img [src]="activeImagePath" class="active-card-image" />
      </div>

      <div class="controls">
        <div class="sound-toggler-container" (click)="soundForeignWord(activeCard.audioUrl)">
          <img class="sound-toggler-button" src="../../../../../../../assets/images/savannah/voice-button.png"
            [ngClass]="{crossed:!isSoundSelected}" alt=""></div>
      </div>

      <div class="native-words-container">
        <div *ngFor="let card of randomCards; index as i" class="native-word-card" (click)="checkResult(card.wordId)">
          {{ i+1 }}.
          {{ card.nativeWord }}</div>
      </div>
      <button class="not-know-word" (click)="skipActiveWord()" [ngClass]="{hidden:!isSkipButton}">DONT KNOW</button>
      <button class="next-word" (click)="setNextWord()" [ngClass]="{hidden:!isNextWordButton}">NEXT</button>
      <p class="game-additional-text">Use keys 1, 2, 3, 4, 5 and ENTER to give a quick answer</p>
    </div>
  </div>

  <div class="final-screen" [ngClass]="{hidden:isHiddenFinalScreen}">
    <h2>GAME OVER!!!</h2>
    <p>You should learn: {{ mistakesNumber }}</p>
    <div *ngFor="let mistakeWord of mistakeWordsArray">
      <div (click)="soundForeignWord(mistakeWord.audioUrl)">voice</div>
      {{mistakeWord.foreignWord}} : {{mistakeWord.nativeWord}}</div>
    <p>You have learn: {{ rightWords }}</p>
    <div *ngFor="let rightWord of rightWordsArray">
      <div (click)="soundForeignWord(rightWord.audioUrl)">voice</div>
      {{rightWord.foreignWord}} : {{ rightWord.nativeWord}}</div>
  </div>

</div>
