@import "../../../../../../constants.scss";

.audiocall-game-wrapper {
  text-align: center;
}

.start-screen {
  background-repeat: no-repeat;
  background-size: 100%;
  color: $primary;

  .start-screen-image {
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
  }

  h1 {
    padding-top: 10px;
    font-size: 2em;
  }

  .start-screen-text {
    margin-top: 10vh;
    font-size: 1.5em;
  }

  .start-button {
    position: absolute;
    top: 420px;
    left: 45vw;
    border-radius: 6px;
    height: 40px;
    background-color: $primary;
    color: $font-color;
  }
}

.select-level {
  width: 100px;
  height: 35px;
  margin-right: 8px;
  border-color: $primary;
  color: $primary;
  border-radius: 8px;
  border-width: 3px;
  text-align: center;
  cursor: pointer;
}


.hidden {
  display: none;
}

.sound-toggler-container {
  text-align: left;
  padding-top: 180px;
  margin-left: auto;
  margin-right: auto;

  .sound-toggler-button {
    height: 100px;
  }
}

.game-container {
  margin-top: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: $primary;

  .main-screen-image {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}

.lives-container {
  text-align: right;
  margin-right: 10vw;
  margin-top: 10vh;

  .lives {
    height: 20px;
    width: 20px;
  }
}

.active-card-container {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;

  .active-card {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
  }
}

.active-card-image {
  position: absolute;
  top: 10px;
  left: -2vw;
  border-radius: 50%;
  border: solid;
  height: 100px;
}

.native-words-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 25vw;
    padding-bottom: 50px;
    font-size: 1.5em;
  }
}

.native-word-card {
  font-size: 1.5em;
  font-weight: bold;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.5em;
  }
}

.native-word-card:hover {
  background-color: $shadow;
  height: 20px;
  border-radius: 5px;
}

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }

  // 50% {
  //   transform: translateX(-8%);
  // }

  // 65% {
  //   transform: translateX(4%);
  // }

  // 80% {
  //   transform: translateX(-4%);
  // }

  // 95% {
  //   transform: translateX(2%);
  // }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }

  // 50% {
  //   -webkit-transform: translateX(-8%);
  // }

  // 65% {
  //   -webkit-transform: translateX(4%);
  // }

  // 80% {
  //   -webkit-transform: translateX(-4%);
  // }

  // 95% {
  //   -webkit-transform: translateX(2%);
  // }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.animationStop {
  animation-name: none;
}

.not-know-word {
  border-radius: 6px;
  height: 40px;
  width: 80px;
  background-color: $primary;
  color: $font-color;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.next-word {
  border-radius: 6px;
  height: 40px;
  width: 80px;
  background-color: $primary;
  color: $font-color;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.game-additional-text {
  margin-top: 10px;
}

.final-screen-text {
  font-size: 2em;
  color: $primary;
}
.final-text-cards {
  display: flex;
  // justify-content: space-around;
}
.final-screen {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: $card-background-color;
  border-radius: 20px;
  width: $card-size;
  max-height: 240px;
  overflow: scroll;

  @media screen and (max-width: 600px) {
    // overflow: scroll;
    left: 30vw;
  }

  @media screen and (max-width: 400px) {
    left: 15vw;
  }

  .word-audio {
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
