.control-section {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
  }
}

.container-chart {
  display: flex;
  justify-content: center;
  width: 500px;

  @media screen and (max-width: 1024px) {
    width: 90vw;
  }
}

